<div data-theme="g"> 

<h1>Listing events</h1>
<ul data-role="listview">

  <% @events.each do |e| %>
  <li><span class="countdown" data-time='<%= e.time %>'>5min</span> 
    <%= Person.first.first_name %> is going to <%= e.location %>
  </li>
  <% end %>

</ul>

<br />

<%= link_to 'New Event', new_event_path %>

</div>
