<div data-theme="g"> 

<div data-role="header" data-position="fixed">
  <h1>Signal Booth</h1>
</div>
 
<ul data-role="listview">

  <% @events.each_with_index do |e,i| %>
<% current_person = Person.find(i+1) %>
<div>
<%= image_tag("#{current_person.image_url}") %>
</div>
  <li><span class="countdown" data-time='<%= e.time %>'>5min</span> 
    <%= current_person.first_name %> is going to <%= e.location %>
    with 3 people
  </li>
  <% end %>

</ul>


</div>
