<div data-theme="g"> 

<div data-role="header" data-position="fixed">
  <h1>Signal Booth</h1>
</div>
 
<ul data-role="listview">

  <% @events.each do |e| %>
  <li><span class="countdown" data-time='<%= e.time %>'>5min</span> 
    <%= Person.first.first_name %> is going to <%= e.location %>
  </li>
  <% end %>

</ul>


</div>
